<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C0F33EF1EDCE1BC00D60AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C0F34031EDCE1BC00D60AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C0F340E1EDCE1BC00D60AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
